<h1>
  {{ title }}
</h1>

<!-- Hello -->
<hello name="{{ name }}"></hello>

<!-- Menu com nome TS -->
<menu-component></menu-component>
<p>Start editing to see some magic happen :)</p>
<h1>Olá MUNDÃO</h1>

<!-- Botões -->
<!-- Data Binding = Associação de dados -->
<!-- INTERPOLAÇÃO -->
<!-- <my-button label="{{ buttonLabel }}"></my-button>
<my-button [label]="buttonSecond"></my-button><br /> -->

<!-- PROPERTY BINDING -->
<!-- <my-button label="Produto"></my-button>
<my-button [label]="'Produto Finos'"></my-button> -->

<!-- Two Way Data Binding -->
<app-entry-data></app-entry-data>
